services:
  notifier_db:
    image: postgres:17
    platform: linux/amd64
    networks:
      - notifier_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifier_prod_db
    healthcheck: # Wait for db_service to start, before making connection with db
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  notifier_redis:
    image: redis:8.4-alpine
    platform: linux/amd64
    networks:
      - notifier_network
    ports: 
      - "6379:6379"
    volumes:
      - redis_data:/data
  
  notifier_rbmq:
    networks:
      - notifier_network
    build:
      context: .
      dockerfile: Dockerfile.rabbitmq
    platform: linux/amd64
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - ./configs/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    command: >
      sh -c "rabbitmq-plugins enable rabbitmq_management && 
            rabbitmq-plugins enable rabbitmq_delayed_message_exchange &&
            rabbitmq-plugins enable rabbitmq_consistent_hash_exchange &&
            rabbitmq-plugins enable rabbitmq_prometheus &&
            rabbitmq-plugins enable rabbitmq_shovel &&
            rabbitmq-plugins enable rabbitmq_shovel_management &&
            rabbitmq-server"

  notifier_migrate: # its a one-time run container, and should be exited with code 0 for successful executions of migrations
    image: migrate/migrate # official image provided by golang-migrate maintainers
    networks:
      - notifier_network
    volumes:
      - ./db/migrations:/migrations
    environment:
      DATABASE_URL: postgres://postgres:12345678@notifier_db:5432/notifier_dev_db?sslmode=disable
    command:
      [
        "-path", "/migrations",
        "-database", "postgres://postgres:12345678@notifier_db:5432/notifier_dev_db?sslmode=disable",
        "up"
      ]
    depends_on:
      notifier_db:
        condition: service_healthy

  notifier-api:
    platform: linux/amd64
    # image: go-notifier-api:latest
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - notifier_network
    ports:
      - "8080:8080"
    volumes:
      # - .:/app # line is commented out to avoid mounting the current directory and avoiding replacement of the built main file
      - ./configs:/app/configs
      - postgres_data:/var/lib/postgresql/data
      - redis_data:/data
    environment:
      ENV: production
    command: ['./server']
    depends_on:
      notifier_db:
        condition: service_healthy # wait for health check
      notifier_redis:
        condition: service_started
      notifier_rbmq:
        condition: service_started

  notifier-workers:
    platform: linux/amd64
    # image: go-notifier-workers:latest
    build:
      context: .
      dockerfile: Dockerfile
    command: ['./workers']
    networks:
      - notifier_network
    volumes:
      # - .:/app # line is commented out to avoid mounting the current directory and avoiding replacement of the built main file
      - ./configs:/app/configs
      - postgres_data:/var/lib/postgresql/data
      - redis_data:/data
    environment:
      ENV: production
    depends_on:
      notifier_db:
        condition: service_healthy # wait for health check
      notifier_redis:
        condition: service_started
      notifier-api:
        condition: service_started
      notifier_rbmq:
        condition: service_started

volumes:
  postgres_data:
  redis_data:

networks:
  notifier_network:
    driver: bridge

