services:
  notifier_db:
    image: postgres:17
    platform: linux/amd64
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
      POSTGRES_DB: notifier_dev_db
    healthcheck: # Wait for db_service to start, before making connection with db
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
    networks:
      - notifier_network

  notifier_redis:
    image: redis:8.4-alpine
    platform: linux/amd64
    ports: 
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - notifier_network
  
  notifier_rbmq:
    build:
      context: .
      dockerfile: Dockerfile.rabbitmq
    platform: linux/amd64
    ports:
      - "5672:5672" # AMQP endpoint for clients to connect to RabbitMQ
      - "15672:15672" # management UI endpoint
      - "15692:15692"  # Prometheus metrics endpoint
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    command: >
      sh -c "rabbitmq-plugins enable rabbitmq_management && 
            rabbitmq-plugins enable rabbitmq_delayed_message_exchange &&
            rabbitmq-plugins enable rabbitmq_consistent_hash_exchange &&
            rabbitmq-plugins enable rabbitmq_prometheus &&
            rabbitmq-plugins enable rabbitmq_shovel &&
            rabbitmq-plugins enable rabbitmq_shovel_management &&
            rabbitmq-server"
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 5s
      retries: 5
    networks:
      - notifier_network

  notifier_migrate: # its a one-time run container, and should be exited with code 0 for successful executions of migrations
    image: migrate/migrate # official image provided by golang-migrate maintainers
    volumes:
      - ./db/migrations:/migrations
    environment:
      DATABASE_URL: postgres://postgres:12345678@notifier_db:5432/notifier_dev_db?sslmode=disable
    command:
      [
        "-path", "/migrations",
        "-database", "postgres://postgres:12345678@notifier_db:5432/notifier_dev_db?sslmode=disable",
        "up"
      ]
    depends_on:
      notifier_db:
        condition: service_healthy
    networks:
      - notifier_network

  notifier-api:
    platform: linux/amd64
    # image: go-notifier-api:latest
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      # - ./.air.toml:/app/.air.toml:ro # ro here is for read-only to prevent overwriting of this file
      - ./configs:/app/configs
      - postgres_data:/var/lib/postgresql/data
      - redis_data:/data
    environment:
      ENV: development
    command: 
      [
        "go", "run", "./cmd/server/main.go"
      ]
      # to run already build binary 
      # [
      #   "./server"
      # ]
    depends_on:
      notifier_db:
        condition: service_healthy # wait for health check
      notifier_redis:
        condition: service_started
      notifier_rbmq:
        condition: service_healthy
    networks:
      - notifier_network

  notifier-workers:
    platform: linux/amd64
    # image: go-notifier-workers:latest # require docker login to pull the image
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - ./configs:/app/configs
      - postgres_data:/var/lib/postgresql/data
      - redis_data:/data
    environment:
      ENV: development
    depends_on:
      notifier_db:
        condition: service_healthy # wait for health check
      notifier_redis:
        condition: service_started
      notifier-api:
        condition: service_started
      notifier_rbmq:
        condition: service_healthy
    command:
      [
        "go", "run", "./cmd/workers/main.go"
      ]
      # to run already build binary 
      # [
      #   "./workers"
      # ]
    networks:
      - notifier_network

# Prometheus & Grafana as docker images only for development enviroment
  # prometheus:
  #   image: prom/prometheus:latest
  #   platform: linux/amd64
  #   ports:
  #     - "9090:9090"
  #   volumes:
  #     - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  #     - prometheus_data:/prometheus
  #   command:
  #     - '--config.file=/etc/prometheus/prometheus.yml'
  #     - '--storage.tsdb.path=/prometheus'
  #   depends_on:
  #     notifier_rbmq:
  #       condition: service_started

  # grafana:
  #   image: grafana/grafana:latest
  #   platform: linux/amd64
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - GF_SECURITY_ADMIN_USER=admin
  #     - GF_SECURITY_ADMIN_PASSWORD=admin
  #     - GF_USERS_ALLOW_SIGN_UP=false
  #   volumes:
  #     - grafana_data:/var/lib/grafana
  #   depends_on:
  #     prometheus:
  #       condition: service_started

volumes:
  postgres_data:
  redis_data:
  # prometheus_data:
  # grafana_data:
networks:
  notifier_network:
    driver: bridge

